# 16.SQL (DML) 기초(데이터 업데이트)

### **기본적인 `UPDATE` 쿼리**

```sql
UPDATE 테이블명
SET 컬럼1 = 값1, 컬럼2 = 값2, ...
WHERE 조건;
```

- **테이블명**: 업데이트할 테이블의 이름
- **컬럼 = 값**: 업데이트할 컬럼과 새로운 값을 지정
- **WHERE 조건**: 어떤 레코드를 업데이트할지 결정하는 조건

**`UPDATE` 쿼리**

```sql
-- users 테이블에서 id가 1인 레코드의 이름을 'John'으로 수정
UPDATE users
SET name = 'John'
WHERE id = 1;
```

**여러 레코드 동시에 업데이트**

```sql
-- age가 25 이상인 모든 레코드의 salary를 50000으로 수정
UPDATE users
SET username = 'senior'
WHERE age >= 60;
```

- `SET SQL_SAFE_UPDATES = 0;` (세이프 모드 비활성화)

**업데이트된 레코드 수 확인**

```sql
-- 업데이트된 레코드 수 반환
SELECT ROW_COUNT();
```

**`CASE` 문을 사용한 업데이트**

```sql
-- user의 age가 60 이상인 경우 'senior'로 username 설정,
-- 그 외의 경우 username은 'young'로 설정

UPDATE users
SET username = CASE
    WHEN age >= 60 THEN 'senior'
    ELSE 'young'
END;
```

**`LIMIT`을 사용한 일부 레코드만 업데이트**

```sql
-- age가 30인 레코드 중에서 가장 나이가 어린 5명의 salary를 60000으로 수정
UPDATE users
SET username = 'top5_young_people'
WHERE age = 30
LIMIT 5;
```

**`SUBQUERY`를 사용한 업데이트**

```sql
-- 다른 서브쿼리 결과에 따라 업데이트
UPDATE products
SET price = price * 1.1
WHERE category_id IN (SELECT id FROM categories WHERE name = 'Electronics');
```

**`REGEXP`를 사용한 업데이트**

```sql
-- 정규 표현식을 활용하여 업데이트
UPDATE users
SET email = CONCAT(email, '_new')
WHERE email REGEXP '@example\.com$';
```

**`CASE` 문을 사용한 다양한 조건에 따른 업데이트**

```sql
-- 다양한 조건에 따라 다른 업데이트 수행
UPDATE products
SET price = CASE
    WHEN stock < 10 THEN price * 1.1
    WHEN stock >= 10 AND stock < 50 THEN price * 1.05
    ELSE price
END;
```